@model Hospital_Project.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group">
                <label asp-for="DoctorFullName" class="control-label"></label>
                <input asp-for="DoctorFullName" class="form-control" />
                <span asp-validation-for="DoctorFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speclization" class="control-label"></label>
                <select asp-for="Speclization" class="form-control"
                        asp-items="@Html.GetEnumSelectList<Spec>()">
                </select>
                <span asp-validation-for="Speclization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorEmail" class="control-label"></label>
                <input asp-for="DoctorEmail" class="form-control" />
                <span asp-validation-for="DoctorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorPhoneNumber" class="control-label"></label>
                <input asp-for="DoctorPhoneNumber" class="form-control" />
                <span asp-validation-for="DoctorPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearsOfExperience" class="control-label"></label>
                <input asp-for="YearsOfExperience" class="form-control" />
                <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
